<!-- Order section Start -->
<div class="page-body">
    <div class="title-header">
        <h5>Order List</h5>
    </div>

    <!-- Table Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div class="table-responsive table-desi">
                                <table class="table table-striped all-package">
                                    <thead>
                                        <tr>
                                            <th style=" min-width: unset; ">#ID</th>
                                            <th>Ngày tạo</th>
                                            <th>Shop</th>
                                            <th>Người mua hàng</th>
                                            <th>Trạng thái</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>

                                    <tbody class="order_list">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Pagination Box Start -->
                    <div class=" pagination-box">
                        <nav class="ms-auto me-auto " aria-label="...">
                            <ul class="pagination pagination-primary">
                                
                            </ul>
                        </nav>
                    </div>
                    <!-- Pagination Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Table End -->

    <!-- footer start-->
    <div class="container-fluid">
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright 2021 © Voxo theme by pixelstrap</p>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- Order section End -->